# Postgres (usado pelo docker-compose)
POSTGRES_USER=livraria
POSTGRES_PASSWORD=livraria
POSTGRES_DB=livraria

# Prisma
DATABASE_URL="postgresql://livraria:livraria@localhost:55432/livraria?schema=public"

# JWT
JWT_SECRET="defina-um-segredo-forte"
JWT_EXPIRES_IN="1d"
